@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #28507b;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-family: Montserrat;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 480px;
  width: 90%;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 40%;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.434);
  border-radius: 10px;
  margin-bottom: 2rem;
  overflow: hidden;
  padding-right: 30px;
  background-color: #fbfaff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.password-container input {
  height: 50px;
  padding-left: 20px;
  border: none;
  background-color: transparent;
  font-weight: 300;
  color: #28507b;
  letter-spacing: 6px;
  width: 100%;
}

.password-container input:focus {
  outline: none;
}

.password-container i {
  color: rgb(85, 204, 99);
  cursor: pointer;
  font-size: 17px;
}

.options {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(249, 249, 255);
  margin-bottom: 2rem;
}

.options .option {
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.options .option label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
}
.options .option .range-container {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 70%;
}

.options .option .range-container input[type="range"] {
  accent-color: var(--primary-color);
  height: 5px;
  cursor: pointer;
  flex: 1;
}

.options .option .range-container #length-value {
  background-color: rgb(223, 228, 236);
  color: var(--primary-color);
  font-weight: 600;
  padding: 2px 7px;
  border-radius: 4px;
}

.options .option input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  position: relative;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.options .option input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

.options .option input[type="checkbox"]::after {
  content: "✓";
  color: white;
  font-size: 15px;
  position: absolute;
  left: 3px;
  bottom: -1px;
  font-weight: 500;
}

.options .option:last-child {
  margin-bottom: 0;
}

#generatePassword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all ease 0.5s;
}

#generatePassword:hover {
  transform: translateY(-5px);
}

#generatePassword:active {
  transform: translateY(0);
}

.strength-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.strength-container p {
  display: flex;
  justify-content: space-between;
}

.strength-container p #strength-type {
  color: var(--primary-color);
  font-weight: 600;
}

.strength-container .meter-container {
  height: 10px;
  width: 100%;
  background-color: #edf7ff;
  box-shadow: 0px 2px 4px #5858583c inset;
}

.strength-container .meter-container .meter {
  background-color: red;
  height: 10px;
  width: 40%;
  border-radius: 0 5px 5px 0;
  transition: all ease 0.5s;
}
